body {
  background-color: #fff888;
}

.shopping-list-container {
  margin-left: 12px;
}

.shopping-list-items-container {
  overflow-x: auto;
  margin-bottom: 12px;
}

.shopping-item-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 18px;
}

.shopping-item-checkbox-container {
  margin-right: 16px;
}

.input-field-container {
  background-color: #fff888;
  margin-bottom: 64px;
}

.input-field-group-container input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 80vw;
  border: none;
  border-bottom: 1px solid #757575;
}

.input-container {
  display: flex;
  flex-direction: row;
}

.input-arrow {
  font-size: 24px;
  margin-right: 8px;
}

input:focus {
  outline: none;
}

input {
  background-color: #fff888;
}

.item-checkbox {
  width: 24px;
  height: 24px;
}

.edit-input {
  border: none;
  border-bottom: 1px solid #757575;
  font-size: 18px;
  font-style: italic;
  background-color: #fdfac9;
  padding: 8px;
}

.shopping-list-item-text {
  min-width: 75vw;
}